body { 
    margin: 0; 
    background: #111; 
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    font-family: sans-serif; 
    user-select: none;
}

canvas { 
    display: block; 
    background: #262626; 
    width: 1920vw; 
    max-width: 1080px; 
    height: auto; 
    border: 4px solid #444; 
    image-rendering: pixelated; /* Mantiene los pixeles nítidos en pantallas grandes */
}

#ui { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    pointer-events: none; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.menu-box {
    background: rgba(0, 0, 0, 0.85);
    padding: 30px;
    border: 3px solid white;
    text-align: center;
    pointer-events: auto;
}

h1, h2 { color: white; margin-top: 0; letter-spacing: 2px; }

button { 
    padding: 12px 28px; 
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer; 
    background: #333; 
    color: white; 
    border: 2px solid white;
    transition: 0.1s;
}

button:hover {
    background: white;
    color: black;
}

.hidden { display: none !important; }

/* HUD Superior */
#hud {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#hp-bar { 
    width: 200px; 
    height: 20px; 
    border: 2px solid white; 
    background: #222;
}

#hp-fill { 
    width: 100%; 
    height: 100%; 
    background: #ff3333; 
    transition: width 0.1s ease;
}

#wave-txt {
    color: white;
    font-size: 18px;
    font-weight: bold;
}
